html,body,.container-fluid,.container,.row {
  min-height:100%;
  height: 100%;
}


.panel {
  position: relative;
  overflow: hidden;
  height:100%;
  height: 100vh;
  width:100%;
}

body, html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  margin:0;
  padding:0;
  overflow-x: hidden;
}

#start .right-div .trans-img{
  top: 0;
  /*background-image: url('/blue898/img/main/1.png');*/
  background-repeat: no-repeat;
}

#one .right-div .trans-img{
  background-image: url('/blue898/img/main/a1.png');
  background-repeat: no-repeat;
}

#two .right-div .trans-img{
  background-image: url('/blue898/img/main/b1.png');
  background-repeat: no-repeat;
}

#three .right-div .trans-img{
  background-image: url('/blue898/img/main/c1.png');
  background-repeat: no-repeat;
}

#four .right-div .trans-img{
  background-image: url('/blue898/img/main/d1.png');
  background-repeat: no-repeat;
}

.right-div {
  height: 100%;
  width: 100%;
}

.trans-img {
  top: -100%;
  left: 100%;
  background-size: contain;
  position: absolute;
  margin-top: 200px;
  margin-left: -780px;
  height: 750px;
  width: 750px;
}

/* customize */

.outSidePin {
  background-color: #888;
  -webkit-box-shadow: inset -2px 97px 155px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -2px 97px 155px -3px rgba(0,0,0,0.75);
  box-shadow: inset -2px 97px 155px -3px rgba(0,0,0,0.75);
}

.one {
  background-color: #444;
}

.two {
  background-color: #222;
}

.three {
  background-color: #777;
}

.four {
  background-color: #555;
}

/* 000000000000000000000000000000 */
/*
#one .pinWrapper .image{
  background-image: url('/blue898/img/main/measure10.png');
  background-repeat: no-repeat;
}

#two .pinWrapper .image{
  background-image: url('/blue898/img/main/measure50.png');
  background-repeat: no-repeat;
}

#three .pinWrapper .image{
  background-image: url('/blue898/img/main/measure70.png');
  background-repeat: no-repeat;
}

#four .pinWrapper .image{
  background-image: url('/blue898/img/main/measure100.png');
  background-repeat: no-repeat;
}*/

/*.image {
  top: -50%;
  left: 50%;
  background-size: contain;
  position: absolute;
  margin-top: -375px;
  margin-left: -375px;
  height: 750px;
  width: 750px;
}

.pinWrapper {
  height: 100%;
  width: 100%;
}*/

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto);
}
